<% colors = ['red-d1', 'teal-d1', 'indigo-d1'] %>
<% activators = ['activator1', 'activator2', 'activator3'] %>

<% if onlyImageCardDescription == '' %>

	<div class="col s<%= smlWidth[0] %> m<%= smlWidth[1] %> l<%= smlWidth[2] %>">
		<div id="<%= cardId %>" class="card <% if (stickyAction == true) && (cardAction.length != 0) %>sticky-action <% end %>scrollspy">
			<% if imageFile != '' %>
				<div class="card-image">
				    <img class="lazyload" src="img/lazyload-platzhalter.jpg" data-src="img/<%= imageFile %>" alt="<%= altText %>">
				    <% if cardTitle != '' %><h3 class="card-title"><%= cardTitle %></h3><% end %>
				</div>
			<% end %>
			<% if contentPosition == 'before' %>
			  	<div class="card-content">
				    <% if imageFile == '' && cardTitle != '' %><h3 class="card-title"><%= cardTitle %></h3><% end %>
					<p>
						<%= yield %>
					</p>
				</div>
			<% end %>
			<% if reveals.length != 0 %>
				<ul class="collapsible expandable">
					<% i = 0 %>
					<% c = 0 %>
					<% loop do %>
						<li>
					    	<div class="collapsible-header <%= activators[c] %><% if (i + 5 >= reveals.length) && (contentPosition == 'before') %> last<% end %>" href="#reveal-<%= reveals[i + 1] %>"><i class="bi bi-<%= reveals[i + 2] %> <%= colors[c] %>-text"></i><%= reveals[i] %><% if reveals[i + 3] == '' %><i class="bi bi-chevron-right grey-text right"></i><% else %><span class="new badge <% if reveals[i + 4] == '' %><%= colors[c] %><% else %><%= reveals[i + 4] %><% end %> right" data-badge-caption=""><%= reveals[i + 3] %></span><% end %></div>
						</li>
						<% i = i + 5 %>
						<% c = c + 1 %>
						<% if i >= reveals.length %>
							<% break %>
						<% end %>
					<% end %>
				</ul>
			<% end %>
			<% if contentPosition == 'after' %>
			  	<div class="card-content">
				    <% if imageFile == '' && cardTitle != '' %><h3 class="card-title"><%= cardTitle %></h3><% end %>
					<p>
						<%= yield %>
					</p>
				</div>
			<% end %>

			<% if cardAction.length != 0 %>
			  <div class="card-action">
			    <% i = 0 %>
			    <% loop do %>
			      <a class="waves-effect waves-dark<% case cardAction[i + 3] %><% when 'flat' %> btn-flat<% when 'filled' %> btn red darken-1<% when 'bordered' %> btn-flat bordered<% end %> modal-trigger" href="<%= cardAction[i + 1] %>"<% if cardAction[i + 2] == true %> target="_blank"<% end %>><% if cardAction[i + 4] != '' %><i class="bi bi-<%= cardAction[i + 4] %> left"></i><% end %><%= cardAction[i]%></a>
			      <% i = i + 5 %>
			      <% if i >= cardAction.length %>
			        <% break %>
			      <% end %>
			    <% end %>
			  </div>
			<% end %>

			<% if reveals.length >= 5 %>
				<div class="card-reveal1" id="reveal-<%= reveals[1] %>">
					<h4 class="card-title grey-text text-darken-4"><%= reveals[0] %><i class="bi bi-x-circle right"></i></h4>
					<p>
						<%= yield_content(:reveal1) %>
					</p>
					<% if cardActionReveal1.length != 0 %>
					  <div class="card-action">
					    <% i = 0 %>
					    <% loop do %>
					      <a class="waves-effect waves-dark<% case cardActionReveal1[i + 3] %><% when 'flat' %> btn-flat<% when 'filled' %> btn red darken-1<% when 'bordered' %> btn-flat bordered<% end %> modal-trigger" href="<%= cardActionReveal1[i + 1] %>"<% if cardActionReveal1[i + 2] == true %> target="_blank"<% end %>><% if cardActionReveal1[i + 4] != '' %><i class="bi bi-<%= cardActionReveal1[i + 4] %> left"></i><% end %><%= cardActionReveal1[i]%></a>
					      <% i = i + 5 %>
					      <% if i >= cardActionReveal1.length %>
					        <% break %>
					      <% end %>
					    <% end %>
					  </div>
					<% end %>
				</div>
			<% end %>
			<% if reveals.length >= 10 %>
				<div class="card-reveal2" id="reveal-<%= reveals[4] %>">
					<h4 class="card-title grey-text text-darken-4"><%= reveals[5] %><i class="bi bi-x-circle right"></i></h4>
					<p>
						<%= yield_content(:reveal2) %>
					</p>
					<% if cardActionReveal2.length != 0 %>
					  <div class="card-action">
					    <% i = 0 %>
					    <% loop do %>
					      <a class="waves-effect waves-dark<% case cardActionReveal2[i + 3] %><% when 'flat' %> btn-flat<% when 'filled' %> btn red darken-1<% when 'bordered' %> btn-flat bordered<% end %> modal-trigger" href="<%= cardActionReveal2[i + 1] %>"<% if cardActionReveal2[i + 2] == true %> target="_blank"<% end %>><% if cardActionReveal2[i + 4] != '' %><i class="bi bi-<%= cardActionReveal2[i + 4] %> left"></i><% end %><%= cardActionReveal2[i]%></a>
					      <% i = i + 5 %>
					      <% if i >= cardActionReveal2.length %>
					        <% break %>
					      <% end %>
					    <% end %>
					  </div>
					<% end %>
				</div>
			<% end %>
			<% if reveals.length == 15 %>
				<div class="card-reveal3" id="reveal-<%= reveals[7] %>">
					<h4 class="card-title grey-text text-darken-4"><%= reveals[10] %><i class="bi bi-x-circle right"></i></h4>
					<p>
						<%= yield_content(:reveal3) %>
					</p>
					<% if cardActionReveal3.length != 0 %>
					  <div class="card-action">
					    <% i = 0 %>
					    <% loop do %>
					      <a class="waves-effect waves-dark<% case cardActionReveal3[i + 3] %><% when 'flat' %> btn-flat<% when 'filled' %> btn red darken-1<% when 'bordered' %> btn-flat bordered<% end %> modal-trigger" href="<%= cardActionReveal3[i + 1] %>"<% if cardActionReveal3[i + 2] == true %> target="_blank"<% end %>><% if cardActionReveal3[i + 4] != '' %><i class="bi bi-<%= cardActionReveal3[i + 4] %> left"></i><% end %><%= cardActionReveal3[i]%></a>
					      <% i = i + 5 %>
					      <% if i >= cardActionReveal3.length %>
					        <% break %>
					      <% end %>
					    <% end %>
					  </div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

<% else %>

	<div class="col s<%= smlWidth[0] %> m<%= smlWidth[1] %> l<%= smlWidth[2] %>">
	  <div id="<%= cardId %>" class="card scrollspy">
	    <div class="card-image only-image-card waves-effect waves-block waves-dark"> <!-- "hide-on-large-only" hinzufügen für Reveal-->
	      <div class="img-gradient modal-trigger" href="#modal-<%= cardId%>">
	        <img class="lazyload modal-trigger" href="#modal-<%= cardId%>" src="img/lazyload-platzhalter.jpg" data-src="img/<%= imageFile %>" alt="<%= altText %>" />
	      </div>
	      <h3 class="card-title modal-trigger" href="#modal-<%= cardId%>"><%= cardTitle %><i class="bi bi-arrow-up-circle right"></i></h3>
	      <span class="card-title description modal-trigger" href="#modal-<%= cardId%>"><%= onlyImageCardDescription %></span>
	    </div>
	    <!--<div class="card-image only-image-card waves-effect waves-block waves-dark hide-on-med-and-down">
	      <div class="img-gradient activator" href="#modal-<%= cardId%>">
	        <img class="lazyload activator" href="#modal-<%= cardId%>" src="img/lazyload-platzhalter.jpg" data-src="img/<%= imageFile %>" alt="<%= altText %>" />
	      </div>
	      <h3 class="card-title activator" href="#modal-<%= cardId%>"><%= cardTitle %><i class="bi bi-arrow-up-circle right"></i></h3>
	      <span class="card-title description activator" href="#modal-<%= cardId%>"><%= onlyImageCardDescription %></span>
	    </div>
	    <div class="card-reveal">
	      <h4 class="card-title grey-text text-darken-4"><%= cardTitle %><i class="bi bi-x-circle right"></i></h4>
	      <p>
	        <%= yield %>
	      </p>
	      <% if cardAction.length != 0 %>
	        <div class="card-action">
	          <% i = 0 %>
	          <% loop do %>
	            <a class="waves-effect waves-dark<% case cardAction[i + 3] %><% when 'flat' %> btn-flat<% when 'filled' %> btn red darken-1<% when 'bordered' %> btn-flat bordered<% end %> modal-trigger" href="<%= cardAction[i + 1]%>"<% if cardAction[i + 2] == true %> target="_blank"<% end %>><% if cardAction[i + 4] != '' %><i class="bi bi-<%= cardAction[i + 4] %> left"></i><% end %><%= cardAction[i]%></a>
	            <% i = i + 5 %>
	            <% if i >= cardAction.length %>
	              <% break %>
	            <% end %>
	          <% end %>
	        </div>
	      <% end %>
	    </div>-->
	  </div>
	</div>

	<div id="modal-<%= cardId %>" class="modal modal-fixed-footer">
	  <div class="modal-content">
	    <h4><%= cardTitle %></h4>
	    <%= yield %>
	  </div>
	  <div class="modal-footer">
	    <button class="modal-close waves-effect waves-light btn-flat">Schließen</button>
	    <% i = 0 %>
	    <% loop do %>
	      <a class="modal-close waves-effect waves-dark<% case cardAction[i + 3] %><% when 'flat' %> btn-flat<% when 'filled' %> btn red darken-1<% when 'bordered' %> btn-flat bordered<% end %> modal-trigger" href="<%= cardAction[i + 1]%>"<% if cardAction[i + 2] == true %> target="_blank"<% end %>><% if cardAction[i + 4] != '' %><i class="bi bi-<%= cardAction[i + 4] %> left"></i><% end %><%= cardAction[i]%></a>
	      <% i = i + 5 %>
	      <% if i >= cardAction.length %>
	        <% break %>
	      <% end %>
	    <% end %>
	  </div>
	</div>

<% end %>