<% colors = ['red-d1-text', 'indigo-d1-text', 'orange-d4-text', 'green-d1-text', 'teal-d1-text'] %>

<h2 class="cd-headline <%= type %>">
  <span><%= textBefore %></span>
  <span class="cd-words-wrapper">
    <% i = 0; a = 0%>
    <% loop do %>
      <b class="<%= colors[a] %> <% if i == 0 %>is-visible<% end %>"><%= words[i] %></b>
      <% i = i + 1; a = a + 1%>
      <% if a == 5 %>
        <% a = 0 %>
      <% end %>
      <% if i >= words.length %>
        <% break %>
      <% end %>
    <% end %>
  </span>
  <span><%= textAfter %></span>
</h2>