<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img src="img/logo.svg" alt="E.L.F. e.V. Logo" height="50px">
        <h2 class="footer-title">Erstes Lesumer Fernsehen e.V.</h2>
        <p class="grey-text text-lighten-4">Jugendmedienverein</p>
        <br><br>
        <p class="grey-text text-lighten-4">*Du wirst zu einem externen Onlinedienst weitergeleitet. Es gelten die dortigen Datenschutzbestimmungen.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h3 class="white-text footer-subtitle">Links</h3>
        <ul class="footer-links">
          <li><a class="grey-text text-lighten-3" href="<% if indexPage == false %>https://www.elf-ev.de/<% end %>#ueber_uns">Über uns</a></li>
          <li><a class="grey-text text-lighten-3" href="<% if indexPage == false %>https://www.elf-ev.de/<% end %>#mitmachen">Mitmachen</a></li>
          <li><a class="grey-text text-lighten-3" href="<% if indexPage == false %>https://www.elf-ev.de/<% end %>#projekte">Projekte</a></li>
          <li><a class="grey-text text-lighten-3" href="<% if indexPage == false %>https://www.elf-ev.de/<% end %>#veranstaltungen">Veranstaltungen</a></li>
          <li><a class="grey-text text-lighten-3" href="<% if indexPage == false %>https://www.elf-ev.de/<% end %>#verein">Verein</a></li>
          <li style="margin-bottom: 30px"><a class="grey-text text-lighten-3" href="<% if indexPage == false %>https://www.elf-ev.de/<% end %>#kontakt">Kontakt</a></li>
          
          <li><a class="grey-text text-lighten-3" href="impressum_datenschutz.html">Impressum &amp; Datenschutz</a></li>
          <li style="margin-bottom: 30px"><a class="grey-text text-lighten-3" href="lizenzen.html">Lizenzen</a></li>
          
          <li><a class="grey-text text-lighten-3" href="https://elfev.goatcounter.com/" target="_blank">Seitenstatistiken*</a></li>
          <li><a class="grey-text text-lighten-3" href="https://docs.google.com/forms/d/e/1FAIpQLSd_tvObcC7dUfNEHlFeosQ6D6SeEfTNW3GVKOfh-tf1DKGPqg/viewform?usp=sf_link" target="_blank">Website-Aktualisierung anfragen*</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>© <span id="year"></span> Erstes Lesumer Fernsehen e.V.</p>
      <script type="text/javascript">
        document.getElementById("year").innerHTML = new Date().getFullYear();
      </script>
  </div>
</footer>