---
layout: page-layout
tabTitle: 'Engagement - E.L.F. e.V.'
title: 'Wie kann ich mich engagieren?'
secondaryTitle: 'Jugendarbeit, Projekte, Vorstand...'
description: 'Engagiere dich als Teamer, Vorstandsmitglied, Projektleiter oder vielen mehr im Verein. Für die Jugendarbeit erhälst du ein kleines Taschengeld.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door'],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmfahrt-header.jpg',
  'altText' => 'Engagement',
  'style' => 'max-width: 500px'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text'
}) do %>
  <p>
    Du hast Spaß an Medien und möchtest dich engagieren? Dann bist du bei uns genau richtig, denn als gemeinnütziger Verein sind wir beim Erstes Lesumer Fernsehen e.V. auf ehrenamtliches Engagement angewiesen. Du kannst uns bei der Jugendarbeit, Medienprojekten, Ausflügen, Veranstaltungen, im Vorstand und vielem mehr unterstützen und erhältst für die Jugendarbeit als Wertschätzung auch ein kleines Taschengeld. Auf dieser Seite erfährst du alles, was du wissen musst, um Teil des Teams zu werden!
  </p>
  <%= partial('layouts/components/button', :locals => {
    'btnText' => 'Jetzt engagieren',
    'btnLink' => '#blut-geleckt',
    'btnLinkInNewTab' => false,
    'btnType' => 'large',
    'btnIcon' => '',
    'btnPosition' => 'center'
  })%>
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Mögliche Bereiche für Engagement',
  'sectionId' => 'moegliches-engagement',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>
  
  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "🗣 Jugendarbeit als Teamer",
    'cardId' => 'jugendarbeit',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Unterstütze eine oder mehrere unserer Jugendgruppen. Zum Beispiel in dem du Jugendliche bei selbst gewählten Projekten unterstützt, neue Projekte auf die Beine stellst, Ausflüge organisierst oder deine Fähigkeiten und Interessen auf andere Art in die Gruppe einbringst.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "🎥 Projekte",
    'cardId' => 'projekte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Bei größeren (Film-)Projekten ist eine gute Crew sehr wichtig. Als Engagierte(r) kannst du Projekte mit planen und begleiten oder sogar eigene Projekte vorantreiben. Das ganze machst du im Team mit anderen Ehrenamtlichen und Jugendlichen, die genau wie du Lust auf coole Projekte haben.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "🗂 Vorstand",
    'cardId' => 'vorstand',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Du willst Macht? Warte was? Die Macht der Demokratie! Bei uns kannst du auch Mitglied im Vorstand werden und über die Dinge im Verein mitentscheiden. Welche Projekte sollen umgesetzt werden, was für Equipment soll angeschafft werden, wie soll sich der Verein weiterentwickeln? Ob als Beisitzer(in), Schriftführer(in), Kassierer(in) oder Vorsitzende(r), im Vorstand bist du noch näher an den Geschehnissen im Verein dran.
  <% end %>


  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "🎉 Veranstaltungen & Ausflüge",
    'cardId' => 'veranstaltungen-ausfluege',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Auch Veranstaltungen wie unser jährliches Festival, Filmfahrten oder Ausflüge zu den verschiedensten Orten benötigen Engagierte, die diese planen und durchführen. Du hast die Möglichkeit über das Programm des nächsten Festivals mitzuentscheiden und gemeinsam mit den Jugendlichen die Show ins Rollen zu bringen. Oder du planst mit anderen Mitgliedern einen Ausflug ins Kino oder nach Hollywood - okay, vielleicht ein bisschen weit weg.
  <% end %>


  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "📸 Öffentlichkeitsarbeit & Dokumentation",
    'cardId' => 'oeffentlichkeitsarbeit-dokumentation',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Du hast Spaß am Texten? Oder Projekte filmisch/fotografisch zu dokumentieren? Oder beides? Dann komm in unser Team für die Öffentlichkeitsarbeit und hilf uns beim Erstellen von aktuellen Inhalten z.B. für die Website, Social Media und Zeitungsartikel.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Und noch vieles mehr...",
    'cardId' => 'mehr',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Es gibt noch viele andere kleinere Bereiche, in denen du mitmischen kannst und vielleicht fällt dir ja auch etwas Eigenes ein. Wir sind offen für alles! Außerdem kannst du auch in mehreren Bereichen mitmachen, überall wozu du Lust hast!
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Vorteile & Voraussetzungen',
  'sectionId' => 'vorteile-voraussetzungen',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Vorteile für dich",
    'cardId' => 'vorteile',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Durch die Mitarbeit im Verein lernst du viele neue Leute kennen, bekommst tolle abwechslungsreiche Aufgaben und kannst verschiedene Fähigkeiten trainieren, je nach dem was du tust. Du kannst dein Engagement auch im Lebenslauf erwähnen; das kommt meistens gut an. Und du bekommst für die Jugendarbeit und Projekte mit Jugendlichen als Wertschätzung ein kleines Taschengeld in Form einer Übungsleiterpauschale, sowie Aufwandsentschädigungen bei anderen Projekten, wenn du eigene Ausgaben hast. Für andere Tätigkeiten, außer der Vorstandsarbeit, kannst du eine Ehrenamtspauschale bekommen.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Das solltest du mitbringen",
    'cardId' => 'vorraussetzungen',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <b>Allgemein fürs Engagement:</b>
    <ul>
      <li>- Mind. 16 Jahre alt</li>
      <li>- Du kannst das Gustav-Heinemann Bürgerhaus von dir aus erreichen</li>
      <li>- Ggf. Erfahrung für die gewünschte Aufgabe, aber wir bringen dir sonst auch alles bei</li>
    </ul>
    <b>Zusätzlich als Teamer:</b>
    <ul>
      <li>- Spaß an der Arbeit mit Jugendlichen</li>
      <li>- Geduld, Jugendlichen etwas beizubringen und mit ihnen zu arbeiten</li>
      <li>- Du gehst auf die Interessen der Jugendlichen ein, denn im Vordergrund stehen Projekte, die ihnen Spaß machen</li>
      <li>- Mind. 18 Jahre alt oder mind. 16 Jahre alt als Junior-Teamer</li>
    </ul>
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Interesse?',
  'sectionId' => 'blut-geleckt',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Dann melde dich bei uns!",
    'cardId' => 'anmelden',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de', false, 'flat', 'envelope-plus'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wenn du Lust hast, uns kennenzulernen oder erstmal Fragen zum Engagement hast, schicke uns einfach eine kurze E-Mail (info@elf-ev.de) und wir melden uns so schnell wie möglich bei dir!
  <% end %>

<% end %>
