---
layout: page-layout
tabTitle: 'Filmfahrt 2024 - E.L.F. e.V.'
title: 'Filmfahrt 2024'
secondaryTitle: 'Gemeinsam einen Kurzfilm drehen'
description: 'Für die Sommerferien 2024 planen wir wieder eine Filmfahrt, bei der ein Kurzfilm gedreht wird.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmklappe-filmfahrt23.jpg',
  'altText' => 'Auch dieses Jahr gibt es ein Casting für unsere Filmfahrt',
  'style' => 'max-width: 1000px; padding-top:80px'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => ''
}) do %>

  <div class="col s12 m12 l6">
  
    <p>
      <b> Auf der Filmfahrt vom 05. bis 09. Juli für 12- bis 16-Jährige drehen wir gemeinsam einen Kurzfilm</b>
      <br><br>
      Du möchtest eine Rolle im Film spielen, die Kamera bedienen oder den Ton aufnehmen? Hier erfährst du, wie das geht!
      <br><br>
      <b>Es sind noch einzelne Plätze für die Fahrt frei, schreibt uns gerne eine kurze Mail. Wir antworten dann möglichst zeitnah mit einer Bestätigung, solange noch Plätze frei sind.</b>
    </p>


    <%= partial('layouts/components/button', :locals => {
      'btnText' => 'Zur Anmeldung',
      'btnLink' => '#anmeldung',
      'btnLinkInNewTab' => false,
      'btnType' => 'large',
      'btnIcon' => 'arrowRight',
      'btnPosition' => 'center'
    })%>


  </div>


  <% partial('layouts/components/card', :locals => { 
      'cardTitle' => "",
      'cardId' => 'inhalt',
      'imageFile' => '',
      'altText' => '',
      'smlWidth' => [12, 12, 6],
      'cardAction' => [],
      'stickyAction' => 'false',
      'onlyImageCardDescription' => '',
      'reveals' => [],
      'contentPosition' => 'before',
      'cardActionReveal1' => [],
      'cardActionReveal2' => [],
      'cardActionReveal3' => []
    }) do %>
      <ul class="collapsible expandable no-top-line" style="margin: -24px">
        <li>
          <a href="#infos"><div class="collapsible-header nodec first"><i class="bi bi-info-circle red-d1-text"></i>Informationen<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#anmeldung"><div class="collapsible-header nodec last"><i class="bi bi-pen indigo-text"></i>Anmeldung<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <!--
        <li>
          <a href="#team"><div class="collapsible-header nodec last"><i class="bi bi-people teal-text"></i>Das Team<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        -->
      </ul>
    <% end %>


    
<% end %>



<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Über das Projekt",
    'cardId' => 'ueber-projekt',
    'imageFile' => 'card-filmfahrt24.jpg',
    'altText' => 'Vor und hinter der Kamera aktiv sein',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Im Zentrum der Ferienfahrt steht die Produktion eines Abenteuer-Kurzfilms, der hauptsächlich im Wald gedreht wird und Found-Footage-Elemente beinhaltet. Dieser stilistische Ansatz erweckt den Eindruck, dass die Videoaufnahmen von den Charakteren im Film selbst gemacht wurden.
    <br><br>
    Die fünftägige Fahrt richtet sich an Jugendliche, die erfahren möchten, wie Filme vor und hinter der Kamera entstehen. Auch diejenigen, die vielleicht schon eigene Filme drehen, können ihr Wissen vertiefen, Neues lernen und sich mit Gleichgesinnten austauschen.
    <br><br>
    Gemeinsam werden wir in einem Selbstversorgerhaus in Zeven wohnen. So haben wir das ganze Gelände und das Haus für uns und können uns dort kreativ austoben.

  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "An- und Abreise",
    'cardId' => 'an-abreise',
    'imageFile' => 'card-an-abreise.jpg',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Für die An- und Abreise werden gemeinsam Fahrgemeinschaften gebildet. Alternativ besteht die Möglichkeit, die Fahrt mit öffentlichen Verkehrsmitteln durch Teamer zu begleiten, die Details werden mit den Teilnehmern und deren Eltern nach der Anmeldung besprochen. Die geplante Ankunft sowie Abreise in Zeven ist jeweils gegen 10 Uhr morgens.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Wer kann mitmachen?",
    'cardId' => 'wer-mitmachen',
    'imageFile' => 'card-wer-kann-mitmachen.jpg',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Jugendliche zwischen 12 und 16 Jahren aus Bremen und um zu.
    <br>
    Wir werden mit den Teilnehmern ein bis zwei Kennenlerntreffen vor den Sommerferien veranstalten. Dies bietet eine Gelegenheit für die Jugendlichen, sich vorab zu treffen, das Team kennenzulernen und Fragen zu stellen. Dafür solltet ihr das Gustav-Heinemann Bürgerhaus in Bremen-Vegesack erreichen können.
    <br>
    Es ist keine Vorerfahrung nötig.
  <% end %>

<% end %>





<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Anmeldung',
  'sectionId' => 'anmeldung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Anmeldung",
    'cardId' => 'anmeldung-karte',
    'imageFile' => 'card-anmeldung.jpg',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de', true, 'flat', 'envelope-plus'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Anmeldungen sind an info@elf-ev.de möglich. Es sind noch einzelne Plätze für die Fahrt frei, schreibt uns gerne eine kurze Mail. Wir antworten dann möglichst zeitnah mit einer Bestätigung, solange noch Plätze frei sind.
    <br><br>
    <b>Bitte schreibt uns eine Mail mit eurem Namen, Alter und einer kurzen Information darüber, warum ihr an der Fahrt teilnehmen möchtet.</b>
    <br>
    Ihr braucht keine Vorerfahrung, wir möchten einfach einen kurzen persönlichen Eindruck bekommen. Interessant ist für unsere Planung vor allem, ob du dich eher für das Schauspiel oder die technische Seite des Filmemachens interessierst oder vielleicht ja sogar beides?
    <br><br>
    Sollten sich mehr Teilnehmer anmelden, als Plätze zur Verfügung stehen, wird ausgelost.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Für die Eltern",
    'cardId' => 'eltern',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de', true, 'flat', 'envelope-plus'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Sollte Ihr Kind einen Platz auf der Fahrt bekommen, fallen erst Kosten an, sobald Sie Ihr Kind verbindlich anmelden.
    <br><br>
    <b>Update!</b>
    <br>
    Die Fahrt wird dank zwei Förderungen 150 bis 200 € pro Person kosten.
    <br> Jeder kann so viel zahlen, wie viel er/sie sich leisten kann und möchte. Kostendeckend ist die Fahrt für uns, wenn jeder 175 € zahlen würde. Wir möchten mit dieser Regelung dafür sorgen, dass möglichst jeder in der Lage ist, die Teilnahme an der Fahrt für sich zu finanzieren.
    <br><br>
    Sollten Sie Probleme haben, den Teilnahmebeitrag aufzubringen, sprechen Sie uns gerne unter info@elf-ev.de an, es gibt Fördermöglichkeiten.
  <% end %>
<% end %>
