---
layout: page-layout
tabTitle: 'Links - E.L.F. e.V.'
title: 'Erstes Lesumer Fernsehen e.V.'
secondaryTitle: 'Links'
description: 'Landing Page, um alles zu finden, was mit unserem Verein zu tun hat.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => false,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door'],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <h5 class="header header-1 center no-shadow black-text">Erstes Lesumer Fernsehen e.V.</h5>
  <h6 class="header header-2 col s12 light no-shadow black-text">Links</h6>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "",
    'cardId' => 'hauptlinks',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <ul class="collapsible expandable no-top-line" style="margin: -24px">
      <li>
        <a href="drehbuchwettbewerb23.html"><div class="collapsible-header nodec first"><i class="bi bi-pen red-d1-text"></i>Drehbuch-Wettbewerb<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="https://www.elf-ev.de"><div class="collapsible-header nodec"><i class="bi bi-globe indigo-text"></i>Website<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PLTDpgM1PsyVoi6kAknMr11coEQIoS6iiO"><div class="collapsible-header nodec last"><i class="bi bi-collection-play teal-text"></i>Jugendsendung*<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
    </ul>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Social Media*",
    'cardId' => 'hauptlinks',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <ul class="collapsible expandable no-top-line" style="margin: -24px; margin-top: 0px;">
      <li>
        <a href="https://www.youtube.com/user/TheELFev"><div class="collapsible-header nodec"><i class="bi bi-youtube black-text"></i>YouTube<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="https://www.instagram.com/erstes_lesumer_fernsehen"><div class="collapsible-header nodec"><i class="bi bi-instagram black-text"></i>Instagram<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="https://www.twitter.com/11lesumertv"><div class="collapsible-header nodec"><i class="bi bi-twitter black-text"></i>Twitter<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="https://www.facebook.com/ersteslesumerfernsehen"><div class="collapsible-header nodec"><i class="bi bi-facebook black-text"></i>Facebook<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="https://t.me/elfev"><div class="collapsible-header nodec last"><i class="bi bi-telegram black-text"></i>Telegram<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
    </ul>
  <% end %>

<% end %>