---
layout: page-layout
tabTitle: 'Noch im Aufabu - E.L.F. e.V.'
title: 'Sorry, hier wird noch gebaut 🏗'
secondaryTitle: 'Diese Seite befindet sich noch im Aufbau, wird aber bald fertiggestellt sein. Bei Fragen melde dich bei info@elf-ev.de !'
description: ''
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door'],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmfahrt-header.jpg',
  'altText' => 'Dreharbeiten im Wald bei der Filmfahrt 2019',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>