---
layout: page-layout
tabTitle: 'Projekte & Veranstaltungen - E.L.F. e.V.'
title: 'Projekte & Veranstaltungen'
secondaryTitle: 'Filmprojekte, Workshops, Festivals und mehr!'
description: 'Du kannst bei unseren Filmprojekten, Workshops und Veranstaltungen mitmachen.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door'],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmfahrt-header.jpg',
  'altText' => 'Projekte & Veranstaltungen',
  'style' => 'max-width: 500px'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'projekte-einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text center'
}) do %>

  <p class="justify">
    Wir beim E.L.F. e.V. machen regelmäßig verschiedenste Projekte und Veranstaltungen. Sei es ein Filmprojekt, eine Reportage, ein Workshop, eine Filmpremiere, ein Festival oder eine Kinovorstellung - wir machen es! Hier ist eine Sammlung aller aktuellen und vergangenen Projekte von unserem Jugendverein in Vegesack.
  </p>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Aktuell',
  'sectionId' => 'aktuell',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Jugendsendung „E.L.F. Spotlight“",
    'cardId' => 'jugendsendung',
    'imageFile' => 'card-erste-jugendsendung.jpg',
    'altText' => 'E.L.F. Spotlight Jugendsendung',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Playlist*', 'https://youtube.com/playlist?list=PLTDpgM1PsyVp1_xGcFdLp1PNSHROJlrBV', true, 'filled', 'play-btn'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Das ist unsere Jugendsendung mit lustigen und spannenden Berichten über alles, was uns bewegt! Schaut sie euch gern an oder macht direkt mit!
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '2023',
  'sectionId' => '2023',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => {
    'cardTitle' => "Kick-off Drehbuchwerkstatt",
    'cardId' => 'drehbuchwerkstatt',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Du interessierst dich fürs Drehbuchschreiben? Du willst deine eigenen Kurzfilm-, Video- oder Dokumentarfilm-Ideen aufs Papier bringen?<br><br>Ab November wollen wir uns immer am ersten Samstag des Monats treffen, um uns über Ideen auszutauschen und zu lernen, sie so aufzuschreiben, dass sie vielleicht schon als nächstes Projekt im Verein umgesetzt werden können.<br><br><b>Das erste Treffen findet am 4. November von 11 bis 13 Uhr statt.</b> Bei Interesse meldet euch bitte kurz unter info@elf-ev.de mit eurem Namen und Alter.
  <% end %>

  <% partial('layouts/components/card', :locals => {
    'cardTitle' => "Festival 2023 🎉",
    'cardId' => 'festival23',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Am 10. November um 18:11 Uhr findet unser diesjähriges E.L.F. Festival statt. Dieses mal feiern der etwa 20-minütige Abenteuer-Kurzfilm von der diesjährigen Filmfahrt und viele weitere Videos ihre Premiere.
    <br><br>
    Wir sind in der Studiobühne des Gustav-Heinemann-Bürgerhaus. Einlass ist ab 17:30. Für Snacks und Getränke ist gesorgt, der Eintritt ist frei. Über eine kleine Spende nach eigenem Ermessen freuen wir uns.
    <br><br>
    Wir freuen uns schon auf euch!
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Drehbuch-Wettbewerb",
    'cardId' => 'drehbuch-wettbewerb',
    'imageFile' => 'card-planung.jpg',
    'altText' => 'Drehbuch-wWttbewerb',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Mehr Infos', 'drehbuchwettbewerb23.html', false, 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <div style="position: relative; top: -200px; visibility:hidden;" id="drehbuch-wettbewerb-2"></div>
    Hey, ihr kreativen Köpfe! Du wolltest schon immer, dass deine Filmidee verfilmt wird? Dann hast du jetzt die Chance, deinen Gedanken freien Lauf zu lassen und einen Pitch für ein Drehbuch zu schreiben. Reiche deine Idee bis zum 11. März bei uns ein. Wenn du gewinnst, wird sie ausgearbeitet und auf unserer diesjährigen Filmfahrt mit anderen Jugendlichen verfilmt! Also, ran an die Tasten, und los geht's!
  <% end %>

    <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Filmfahrt 2023",
    'cardId' => '',
    'imageFile' => 'card-filmfahrt.jpg',
    'altText' => 'E.L.F. Filmfahrt 2023',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <div style="position: relative; top: -200px; visibility:hidden;" id="filmfahrt23"></div>
    Du möchtest einen Film drehen? Sei als Schauspieler oder Techniker dabei und erlebe fünf Tage mit anderen Jugendlichen ein Abenteuer!
    <br><br>
    Datum: 08.08. - 12.08.2023
    <br><br>
    Weitere Infos, auch zur Anmeldung, folgen bald!
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Drehbuch-Workshop",
    'cardId' => 'drehbuch-workshop',
    'imageFile' => 'card-planung.jpg',
    'altText' => 'Drehbuch-Workshop',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Mehr Infos', 'drehbuchworkshop23.html', false, 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Zur Vorbereitung auf unseren Drehbuchwettbewerb und für alle Jugendlichen, die sich einfach so dafür interessieren, veranstalten wir einen Drehbuchworkshop in Bremen Vegesack.
    <br><br>
    Datum: 18.02.2023
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '2022',
  'sectionId' => '2022',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

    <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "E.L.F. Festival 2022 🎉",
    'cardId' => 'festival-22',
    'imageFile' => 'card-festival-2019.EB1D0EAB3610EE33E9875E606E99485B.jpg',
    'altText' => 'E.L.F. Festival 2022',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <p>
      Nun ist es wieder soweit! Das E.L.F. Festival kommt in physischer Form zurück! Am 17.12.22 treffen wir uns alle zusammen wieder, um das Jahr gemeinsam revue passieren zu lassen und gemeinam die Filme und Videos zu schauen, die wir gedreht haben. Hierbei genießen wir Snacks, gute Gesellschaft und natürlich die Clips aus dem Jahr. Von dem viertelstundenlangen Kurzfilm "Werwolf" von der Filmfahrt 2022 bis hin zu Interviews und Reportagen unserer Jugendsendung ist alles mit dabei.<br><br>
      Bist du Mitglied und möchtest dabei sein? Dann schau mal in deine Mails, wir haben dir was geschickt!
    </p>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Filmfahrt 2022",
    'cardId' => 'filmfahrt22',
    'imageFile' => 'card-schnitt.jpg',
    'altText' => 'Melde dich jetzt für die Filmfahrt 2022 an!',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['Mehr Infos', 'filmfahrt22.html', false, 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Interessierte Jugendliche zwischen 11 und 17 Jahren erarbeiten an 5 Tagen ihren ganz eigenen Kurzfilm. Nebenbei vertiefen sie ihr Wissen bei Workshops zu verschiedenen Bereichen der Filmproduktion.<br><br>
    Datum: 15. bis 19. August 2022<br>
    Anmeldefrist: 31. Juli
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Reporter-Workshop mit Kim Adler",
    'cardId' => 'reporter-workshop',
    'imageFile' => 'card-kim-adler.jpg',
    'altText' => 'Melde dich jetzt für den Reporter-Workshop an!',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Mehr Infos', 'reporter-workshop.html', false, 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir veranstalten einen Workshop unter professioneller Leitung vom Fernsehmoderator und -reporter Kim Adler für Nachwuchsreporter mit anschließendem Casting für unsere Jugendsendung. Mit machen kann jeder zwischen 11 und 17 Jahren.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "ENTER! Overbeck-Museum",
    'cardId' => 'enter-overbeck',
    'imageFile' => 'card-overbeck.jpg',
    'altText' => 'Reportercrew im Overbeck-Museum. Jetzt anmelden!',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Mehr Infos', 'enter-overbeck.html', false, 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Als Mediengruppe berichten wir im Mai und Juni im Rahmen des <a class="red-d1-text" href="http://www.enter-museum.de">ENTER!Museum Projekts</a> über das Overbeck-Museum. <b>Melde dich jetzt als Reporter und/oder Crew hinter der Kamera an. Keine Vorerfahrung nötig.</b>
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '2021',
  'sectionId' => '2021',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Restart-Event 🎉",
    'cardId' => 'restart-event',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Endlich ist es soweit! Am Freitag, den 08. Oktober treffen wir uns zum ersten Mal seit langer Zeit wieder im Bürgerhaus. Dort tauschen wir uns über die Zukunft aus, machen Fotoshootings, essen gemeinsam Kuchen, planen die Weltherrschaft und vieles mehr. Im Anschluss machen wir einen Ausflug ins Schwarzlichtminigolf, um den Abend ausklingen zu lassen. MItmachen können unsere MItglieder und natürlich jeder, der Interesse hat. Melde dich dazu gern bei uns (siehe Kontakt)!
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '2020',
  'sectionId' => '2020',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Virtuelles E.L.F. Festival 2020 🎉",
    'cardId' => 'festival2020',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Nur Corona nehmen lassen wir uns unseren Jahresabschluss in Form eines Festivals nicht wegnehmen! Dieses Jahr allerdings nur für Mitglieder und online. Klingt langweilig? Wird es aber nicht, denn wir haben dieses Jahr einiges geplant:
    <ul>
      <li>🎬 Rückblick, was wir dieses Jahr produziert haben und was passiert ist,</li>
      <li>📣 Video- &amp; Musikvorschläge von unseren Mitgliedern,</li>
      <li>🎮 Gesellschafts- &amp; Videospiele spielen und</li>
      <li>💬 einfach miteinander quatschen!</li>
    </ul>
    Bist du Mitglied und möchtest dabei sein? Dann schau mal in deine Mails, wir haben dir was geschickt!📧
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '2019',
  'sectionId' => '2019',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Overbeck-Kurzfilmprojekt",
    'cardId' => 'overbeck',
    'imageFile' => 'card-overbeck.jpg',
    'altText' => 'Kunst und Film kombiniert beim Overbeck-Kurzfilmprojekt',
    'smlWidth' => [12, 12, 4],
    'cardAction' => ['Mehr Infos', 'overbeck.html', false, 'flat', ''],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Jugendliche lernen anhand des Mediums Film die Kunst von Hermine und Fritz Overbeck kennen.
  <% end %>

  <div class="col s12 m12 l4">
    <div class="card scrollspy" id="festival19">
      <div class="card-image">
        <img alt="Kulisse vom E.L.F. Festival 2019" class="lazyload" src="lazyload-platzhalter.jpg" data-src="img/card-festival-2019.jpg"/>
        <span class="card-title">E.L.F. Festival 2019</span>
      </div>
      <div class="card-content">
        <p>
          Beim Festival 2019 wird unter anderem der Kurzfilm der großen Filmfahrt gezeigt, sowie viele keine andere Videos des Jahres.
        </p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-flat modal-trigger" href="#modal-festival" target="_blank">Mehr Infos</a>
      </div>
    </div>
    <div id="modal-festival" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>E.L.F. Festival 2019</h4>
        <p>
          In den Sommerferien waren wir, das Erstes Lesumer Fernsehen e.V. aus Bremen-Nord mit 17 hauptsächlich jugendlichen Teilnehmern auf einer Filmfahrt nahe Osnabrück. Dort haben wir einen Kurzspielfilm gedreht, der bald seine Premiere feiern soll.
          <br><br>
          Am 23. November findet unser jährliches Filmfestival statt, bei dem wir unsere Kurzfilme präsentieren. Dieses Jahr steht der Film „BEWERTET und GEKNEBELT“ - das Sommerferienprojekt - im Mittelpunkt. In dem Film geht es um eine kleine Schulklasse, dessen Lehrerin auf mysteriöse Weise verschwindet. Die Schüler müssen herausfinden, was passiert ist. Dabei wird ihre Klassengemeinschaft auf die Probe gestellt.
          <br><br>
          Zusätzlich zum etwa 30 minütigen Film wird es Aufnahmen von den Geschehnissen hinter den Kulissen, Outtakes, also alles was schiefgegangen ist, und Interviews mit den Teilnehmern geben. Zu einer richtigen Premiere gehören natürlich immer ein paar Snacks. Es wird also Popcorn, Kekse, Getränke und vieles mehr zum kleinen Preis geben. Der Eintritt zum Festival ist übrigens kostenlos. Wir möchten die Türen für jeden öffnen und sind als gemeinnütziger Verein nicht an Gewinnen interessiert, trotzdem können uns Zuschauer gerne mit Spenden für zukünftige Projekte unterstützen.
          <br><br>
          Zusätzlich zum großen Filmprojekt, werden wir weitere Filme zum Beispiel aus der neu gegründeten Jugendredaktion und der Seniorengruppe zeigen. Beginn ist um 18:11 Uhr - ganz im Sinne unseres Namens - und Einlass ab 17:30 Uhr. Ab ungefähr 20:30 Uhr wird es eine Aftershow Party geben, bei der sich Mitglieder und Gäste unterhalten und kennenlernen können. Veranstaltungsort ist das Freizi Alt-Aumund im Aumunder Heerweg 89, 28757 Bremen.
          <br><br>
          Unten gibt es einen Teaser zum gezeigten Film.
          <br><br>
          Wir freuen uns auf euch!
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Schließen</a>
        <a href="https://youtu.be/nGHUGTKsQ_o" target="_blank" class="modal-close waves-effect waves-light btn red darken-1"><i class="bi bi-play-circle left"></i>Teaser ansehen</a>
      </div>
    </div>
  </div>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Filmfahrt 2019",
    'cardId' => 'filmfahrt19',
    'imageFile' => 'card-filmfahrt.jpg',
    'altText' => 'Kunst und Film kombiniert beim Overbeck-Kurzfilmprojekt',
    'smlWidth' => [12, 12, 4],
    'cardAction' => ['Mehr Infos', 'filmfahrt19.html', false, 'flat', ''],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir drehen einen Kurzfilm mit Jugendlichen als Schauspieler oder an der Technik. Der Plot: Die Schüler müssen ihre verschwundene Lehrerin auf Klassenfahrt finden.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Noch früher',
  'sectionId' => 'frueh',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => 'narrow-text center'
}) do %>

  <p class="justify container">Natürlich gab es auch Projekte und Events vor 2019 - reichlich seit unserer Gründung in 1993. Die sind allerdings nicht auf dieser Website vorhanden. Aber stöber doch mal durch unseren YouTube Kanal. Dort findest du einige alte Schätze.</p>

  <div class="col s12 m12 l12">
    <div class="row center">
      <a class="waves-effect waves-light btn-flat bordered" href="https://www.youtube.com/@ELFev" target="_blank"><i class="bi bi-youtube left"></i>Zum YouTube-Kanal*</a>
    </div>
  </div>

<% end %>